#instruction{
    margin-top: 10px;
    text-align: center;
}

body{
    font-size: 14px;
    background-color: #ffffff;
    text-align: center;
    background-position:100% 50%;


}
a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
    margin-bottom: 10px;
}
a:hover{
    color: #ff0000;
    text-decoration: underline;
}
a:visited{
    color: #880000;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #000000;
}

h1{
    color: #880000;
    font-family: Impact, DejaVu Sans;
}